.grid {
    grid-template-areas:
          'back about projects blog'
          'p3d p3dinfo p3dinfo p3dinfo'
          'site siteinfo siteinfo siteinfo'
          'bonebot bonebotinfo bonebotinfo bonebotinfo'
          'couriernew couriernewinfo couriernewinfo couriernewinfo'
          'volleyball volleyballinfo volleyballinfo volleyballinfo'
          'hardcorelists hardcorelistsinfo hardcorelistsinfo hardcorelistsinfo'
          'chirrup chirrupinfo chirrupinfo chirrupinfo'
          'cannonpong cannonponginfo cannonponginfo cannonponginfo';
}

.back {
    grid-area: back;
}

.blog {
    grid-area: blog;
}

.about {
    grid-area: about;
}

.projects {
    grid-area: projects;
}

.current {
    grid-area: current;
}

.minecraft {
    grid-area: minecraft;
}

.school {
    grid-area: school;
}

.p3d {
    grid-area: p3d;
}

.p3dinfo {
    grid-area: p3dinfo;
    text-align: left;
    justify-content: unset;
}

.bonebot {
    grid-area: bonebot;
}

.bonebotinfo {
    grid-area: bonebotinfo;
    text-align: left;
    justify-content: unset;
}

.site {
    grid-area: site;
}

.siteinfo {
    grid-area: siteinfo;
    text-align: left;
    justify-content: unset;
}

.couriernew {
    grid-area: couriernew;
}

.couriernewinfo {
    grid-area: couriernewinfo;
    text-align: left;
    justify-content: unset;
}

.volleyball {
    grid-area: volleyball;
}

.volleyballinfo {
    grid-area: volleyballinfo;
    text-align: left;
    justify-content: unset;
}

.hardcorelists {
    grid-area: hardcorelists;
}

.hardcorelistsinfo {
    grid-area: hardcorelistsinfo;
    text-align: left;
    justify-content: unset;
}

.chirrup {
    grid-area: chirrup;
    color: #FFFFFF22;
}

.chirrupinfo {
    grid-area: chirrupinfo;
    text-align: left;
    justify-content: unset;
}

.cannonpong {
    grid-area: cannonpong;
    image-rendering: pixelated;
}

.cannonponginfo {
    grid-area: cannonponginfo;
    text-align: left;
    justify-content: unset;
}

.logo {
    filter: brightness(0%) invert();
    width: 85%;
}

.icons {
    width: 85%;
}

h3 {
    line-height: 50%;
}