.grid {
    grid-template-areas:
          'back about projects blog'
          'fav fav fav fav'
          'p3d p3d p3dinfo p3dinfo'
          'p3d p3d p3dinfo p3dinfo'
          'bonebot bonebot bonebotinfo bonebotinfo'
          'bonebot bonebot bonebotinfo bonebotinfo'
          'site site siteinfo siteinfo'
          'site site siteinfo siteinfo'
          'mc mc mc mc'
          'couriernew couriernew couriernewinfo couriernewinfo'
          'couriernew couriernew couriernewinfo couriernewinfo'
          'volleyball volleyball volleyballinfo volleyballinfo'
          'volleyball volleyball volleyballinfo volleyballinfo'
          'hardcorelists hardcorelists hardcorelistsinfo hardcorelistsinfo'
          'hardcorelists hardcorelists hardcorelistsinfo hardcorelistsinfo'
          'school school school school'
          'chirrup chirrup chirrupinfo chirrupinfo'
          'chirrup chirrup chirrupinfo chirrupinfo'
          'delbot delbot delbotinfo delbotinfo'
          'delbot delbot delbotinfo delbotinfo'
          'cannonpong cannonpong cannonponginfo cannonponginfo'
          'cannonpong cannonpong cannonponginfo cannonponginfo';
}

.back {
    grid-area: back;
}

.blog {
    grid-area: blog;
}

.about {
    grid-area: about;
}

.projects {
    grid-area: projects;
    background-color: var(--box-hover-color);
}

.fav {
    grid-area: fav;
}

.mc {
    grid-area: mc;
}

.school {
    grid-area: school;
}

.p3d {
    grid-area: p3d;
}

.p3dinfo {
    grid-area: p3dinfo;
    text-align: left;
    justify-content: unset;
}

.bonebot {
    grid-area: bonebot;
}

.bonebotinfo {
    grid-area: bonebotinfo;
    text-align: left;
    justify-content: unset;
}

.site {
    grid-area: site;
}

.siteinfo {
    grid-area: siteinfo;
    text-align: left;
    justify-content: unset;
}

.couriernew {
    grid-area: couriernew;
}

.couriernewinfo {
    grid-area: couriernewinfo;
    text-align: left;
    justify-content: unset;
}

.volleyball {
    grid-area: volleyball;
}

.volleyballinfo {
    grid-area: volleyballinfo;
    text-align: left;
    justify-content: unset;
}

.hardcorelists {
    grid-area: hardcorelists;
}

.hardcorelistsinfo {
    grid-area: hardcorelistsinfo;
    text-align: left;
    justify-content: unset;
}

.chirrup {
    grid-area: chirrup;
    color: var(--box-color)
}

.chirrupinfo {
    grid-area: chirrupinfo;
    text-align: left;
    justify-content: unset;
}

.delbot {
    grid-area: delbot;
    color: var(--box-color)
}

.delbotinfo {
    grid-area: delbotinfo;
    text-align: left;
    justify-content: unset;
}

.cannonpong {
    grid-area: cannonpong;
    image-rendering: pixelated;
}

.cannonponginfo {
    grid-area: cannonponginfo;
    text-align: left;
    justify-content: unset;
}

.logo {
    filter: brightness(0%) invert();
    width: 85%;
}

.icons {
    width: 85%;
}