.grid {
    grid-template-areas:
            'home about projects resume'
            'personal personal personal personal'
            'dysonbp01 dysonbp01info dysonbp01info dysonbp01info'
            'trouttoss trouttossinfo trouttossinfo trouttossinfo'
            'matrixdisplay matrixdisplayinfo matrixdisplayinfo matrixdisplayinfo'
            'site siteinfo siteinfo siteinfo'
            'bonebot bonebotinfo bonebotinfo bonebotinfo'
            'p3d p3dinfo p3dinfo p3dinfo'
            'hardcorelists hardcorelistsinfo hardcorelistsinfo hardcorelistsinfo'
            'volleyball volleyballinfo volleyballinfo volleyballinfo'
            'couriernew couriernewinfo couriernewinfo couriernewinfo'
            'school school school school'
            'cpre480 cpre480info cpre480info cpre480info'
            'cpre381 cpre381info cpre381info cpre381info'
            'coms309 coms309info coms309info coms309info'
            'cpre288 cpre288info cpre288info cpre288info'
            'cpre186 cpre186info cpre186info cpre186info';
}

.home {
    grid-area: home;
}

.resume {
    grid-area: resume;
}

.about {
    grid-area: about;
}

.projects {
    grid-area: projects;
}

.personal {
    grid-area: personal;
    text-align: left;
    justify-content: unset;
}

.dysonbp01 {
    grid-area: dysonbp01;
}

.dysonbp01info {
    grid-area: dysonbp01info;
    text-align: left;
    justify-content: unset;
}

.trouttoss {
    grid-area: trouttoss;
}

.trouttossinfo {
    grid-area: trouttossinfo;
    text-align: left;
    justify-content: unset;
}

.matrixdisplay {
    grid-area: matrixdisplay;
}

.matrixdisplayinfo {
    grid-area: matrixdisplayinfo;
    text-align: left;
    justify-content: unset;
}

.site {
    grid-area: site;
}

.siteinfo {
    grid-area: siteinfo;
    text-align: left;
    justify-content: unset;
}

.bonebot {
    grid-area: bonebot;
}

.bonebotinfo {
    grid-area: bonebotinfo;
    text-align: left;
    justify-content: unset;
}

.p3d {
    grid-area: p3d;
}

.p3dinfo {
    grid-area: p3dinfo;
    text-align: left;
    justify-content: unset;
}

.hardcorelists {
    grid-area: hardcorelists;
}

.hardcorelistsinfo {
    grid-area: hardcorelistsinfo;
    text-align: left;
    justify-content: unset;
}

.volleyball {
    grid-area: volleyball;
}

.volleyballinfo {
    grid-area: volleyballinfo;
    text-align: left;
    justify-content: unset;
}

.couriernew {
    grid-area: couriernew;
}

.couriernewinfo {
    grid-area: couriernewinfo;
    text-align: left;
    justify-content: unset;
}

.school {
    grid-area: school;
    text-align: left;
    justify-content: unset;
}

.cpre480 {
    grid-area: cpre480;
}

.cpre480info {
    grid-area: cpre480info;
    text-align: left;
    justify-content: unset;
}

.cpre381 {
    grid-area: cpre381;
}

.cpre381info {
    grid-area: cpre381info;
    text-align: left;
    justify-content: unset;
}

.coms309 {
    grid-area: coms309;
}

.coms309info {
    grid-area: coms309info;
    text-align: left;
    justify-content: unset;
}

.cpre288 {
    grid-area: cpre288;
}

.cpre288info {
    grid-area: cpre288info;
    text-align: left;
    justify-content: unset;
}

.cpre186 {
    grid-area: cpre186;
}

.cpre186info {
    grid-area: cpre186info;
    text-align: left;
    justify-content: unset;
}

.logo {
    filter: brightness(0%) invert();
    width: 85%;
}

.icon {
    width: 85%;
}