@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-transparent: #ffffffc0;
    --background-opaque: #ffffffff;
    --text-color: #000000ff;
}

body {
    margin: 8px;
    background-image: url("./resources/Background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    transition: opacity 0.1s;
}

a:hover {
    transition: opacity 0.1s;
    opacity: 50%;
}

.header {
    background-color: var(--background-transparent);
    backdrop-filter: blur(32px) saturate(200%);
    border-radius: 40px;
    display: flex;
    height: 80px;
    max-width: 800px;
    margin: auto;
    transition: background-color 0.5s;
}

.header-logo {
    background-color: var(--background-opaque);
    border-radius: 32px;
    margin: 8px;
    height: 64px;
    transition: background-color 0.5s;
}

.header-text {
    margin: auto 8px;
    padding-bottom: 5px;
    font-size: 40px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    color: var(--text-color);
    transition: visibility 0.2s, font-size 0.2s, margin 0.2s, padding 0.2s, color 0.5s;
}

.header-button-container {
    display: flex;
    margin: auto 8px auto auto;
    background-color: var(--background-opaque);
    border-radius: 32px;
    height: 64px;
    transition: background-color 0.5s;
}

.header-button {
    transition: opacity 0.1s;
    border-radius: 32px;
}

.header-button-icon {
    filter: brightness(0%);
    width: 32px;
    height: 32px;
    margin: 16px;
    transition: filter 0.5s;
}

.card {
    background-color: var(--background-transparent);
    backdrop-filter: blur(32px) saturate(200%);
    border-radius: 40px;
    margin: 8px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s;

}

.card-header {
    background-color: var(--background-opaque);
    border-radius: 32px;
    margin: 8px 8px 32px 8px;
    height: 64px;
    display: flex;
    transition: background-color 0.5s;
}

.card-header-text {
    margin: auto;
    padding-bottom: 5px;
    font-size: 32px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    color: var(--text-color);
    transition: color 0.5s;
}

.about-text {
    color: var(--text-color);
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 0 32px 32px 32px;
    transition: color 0.5s;
}

.summary-text {
    color: var(--text-color);
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    line-height: 24px;
    margin: 0 32px 16px 32px;
    transition: color 0.5s;
}

.portrait {
    width: 35%;
    border-radius: 50%;
    margin: 0 auto 32px auto;
    transition: width 0.2s;
}

.project {
    display: flex;
    align-items: left;
    margin: 0 32px 32px 32px;
    transition: opacity 0.1s;
}

.project-logo {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.project-name {
    color: var(--text-color);
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    transition: color 0.5s;
    margin: 0 0 4.5px 0;
}

.project-description {
    color: var(--text-color);
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    line-height: 24px;
    transition: color 0.5s;
    margin: 0;
}

.footer {
    text-align: center;
    color: #ffffffff;
    font-size: 12px;
    font-family: "Barlow", sans-serif;
    font-weight: normal;
}

@media screen and (max-width: 600px) {
    .header-text {
        visibility: hidden;
        font-size: 0;
        margin: auto 0 auto 0;
        padding: 0;
        transition: visibility 0.2s, font-size 0.2s, margin 0.2s, padding 0.2s;
    }

    .portrait {
        width: 50%;
        transition: width 0.2s;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-transparent: #000000c0;
        --background-opaque: #000000ff;
        --text-color: #ffffffff;
    }

    .header-button-icon {
        transition: filter 0.5s;
        filter: brightness(0%) invert();
    }
}