.grid {
    display: grid;
    margin: 100px auto;
    width: 740px;
    grid-template-areas:
          'logobox logobox namebox namebox'
          'logobox logobox namebox namebox'
          'welcomebox welcomebox about resume'
          'welcomebox welcomebox projects contact';
    grid-gap: 16px;
}

.logobox {
    grid-area: logobox;
}

.namebox {
    grid-area: namebox;
}

.welcomebox {
    grid-area: welcomebox;
    text-align: left;
}

.about {
    grid-area: about;
}

.resume {
    grid-area: resume;
}

.projects {
    grid-area: projects;
}

.contact {
    grid-area: contact;
}