.grid {
    display: grid;
    margin: var(--margin-size);
    width: var(--grid-width);
    grid-gap: var(--gap-size);
}

.logobox {
    grid-area: logobox;
}

.namebox {
    grid-area: namebox;
}

.welcomebox {
    grid-area: welcomebox;
    text-align: left;
}

.about {
    grid-area: about;
}

.resume {
    grid-area: resume;
}

.projects {
    grid-area: projects;
}

.contact {
    grid-area: contact;
}

@media screen and (max-width: 740px) {
    .grid {
        grid-template-areas:
          'logobox logobox'
          'logobox logobox'
          'namebox namebox'
          'namebox namebox'
          'welcomebox welcomebox'
          'welcomebox welcomebox'
          'about resume'
          'projects contact';
        width: 360px;
    }
}

@media screen and (min-width: 740px) {
    .grid {
        grid-template-areas:
          'logobox logobox namebox namebox'
          'logobox logobox namebox namebox'
          'welcomebox welcomebox about resume'
          'welcomebox welcomebox projects contact';
    }
}