/*
This is a custom theme by Jeremy Noesen
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@keyframes show {
  0% {opacity: 0.5; filter: blur(4px)}
  100% {opacity: 1}
}

body {
  background-color: #070c1d;
  background-image: linear-gradient(to bottom, #070c1d, #010513);
  background-attachment: fixed;
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  font-weight: lighter;
  animation-name: show;
  animation-duration: 0.25s;
}

.grid {
  display: grid;
  place-content: center;
  grid-gap: 16px;
  margin: 100px auto;
  grid-auto-columns: 180px;
  grid-auto-rows: 180px;
}

.box {
  transition: transform 0.25s, background-color 0.25s;
  padding: 32px;
  background-color: #A2A2FF14;
  box-shadow: 0 0 16px #000000;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  overflow: hidden;
}

.box:hover {
  background-color: #ADADFF1A;
  transform: scale(1.01);
}

.button:hover {
  background-color: #0046ff;
  transform: scale(1.05);
}

hr {
  border-color: white;
  color: white;
  background-color: white;
  border-style: solid;
  border-radius: 16px;
}

@media screen and (max-width: 1080px) {
  .grid {
    grid-gap: 2vw;
    margin: 0 auto;
    grid-auto-columns: 22vw;
    grid-auto-rows: 22vw;
  }

  body {
    line-height: 3.25vw;
    font-size: 2.25vw;
  }

  .box {
    padding: 4vw;
    box-shadow: 0 0 2vw #000000;
    border-radius: 4vw;
  }
}