:root {
  /*theme colors*/
  --background-color: #070c1d;
  --box-color: rgba(255, 255, 255, 0.06);
  --box-hover-color: rgba(255, 255, 255, 0.08);
  --button-hover-color: #0050ea;
  --shadow-color: #000000;
  --text-color: #FFFFFF;
  --animation-speed: 0.25s;
  --border-radius: 24px;
  --padding: 30px;
  --gap-size: 16px;
  --shadow-size: 32px;

  /*dynamic sizes*/
  --margin-size: 100px auto;
  --grid-width: 736px;
  --wide-box-size: 676px;
  --large-box-size: 300px;
  --small-box-size: 112px;
}

@keyframes show {
  0% {opacity: 0; filter: blur(10px)}
  100% {opacity: 1}
}

body {
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  color: var(--text-color);
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  animation-name: show;
  animation-duration: var(--animation-speed);
}

.large-grid-item {
  transition: var(--animation-speed);
  padding: var(--padding);
  background-color: var(--box-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  color: inherit;
  text-decoration: none;
  width: var(--large-box-size);
  height: var(--large-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.large-grid-item:hover {
  background-color: var(--box-hover-color);
}

.small-grid-item {
  transition: var(--animation-speed);
  padding: var(--padding);
  background-color: var(--box-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  color: inherit;
  text-decoration: none;
  width: var(--small-box-size);
  height: var(--small-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.small-grid-item:hover {
  background-color: var(--button-hover-color);
}

.large-wide-grid-item {
  transition: var(--animation-speed);
  padding: var(--padding);
  background-color: var(--box-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  color: inherit;
  text-decoration: none;
  width: var(--wide-box-size);
  height: var(--large-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.large-wide-grid-item:hover {
  background-color: var(--box-hover-color);
}

.small-wide-grid-item {
  transition: var(--animation-speed);
  padding: var(--padding);
  background-color: var(--box-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  color: inherit;
  text-decoration: none;
  width: var(--large-box-size);
  height: var(--small-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.small-wide-grid-item:hover {
  background-color: var(--button-hover-color);
}