@keyframes hover-normal {
  0% {background-color: #262626; box-shadow: 0 0 16px #000000}
  100% {background-color: #2e2e2e; box-shadow: 0 0 16px #222222}
}

@keyframes hover-button {
  0% {background-color: #262626; box-shadow: 0 0 16px #000000}
  100% {background-color: #0050e8; box-shadow: 0 0 16px #0f2a86}
}

@keyframes show {
  0% {opacity: 0}
  100% {opacity: 1}
}

body {
  background-color: #101010;
  font-family: Arial, sans-serif;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
  animation-name: show;
  animation-duration: 0.25s;
}

.large-grid-item {
  transition: 0.25s;
  padding: 30px;
  background-color: #262626;
  box-shadow: 0 0 16px #000000;
  color: inherit;
  text-decoration: none;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-grid-item:hover {
  background-color: #2e2e2e;
  box-shadow: 0 0 16px #222222;
  animation-name: hover-normal;
  animation-duration: 0.25s;
}

.small-grid-item {
  transition: 0.25s;
  padding: 30px;
  background-color: #262626;
  box-shadow: 0 0 16px #000000;
  color: inherit;
  text-decoration: none;
  width: 112px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-grid-item:hover {
  background-color: #0050e8;
  box-shadow: 0 0 16px #0f2a86;
  animation-name: hover-button;
  animation-duration: 0.25s;
}

.non-grid-item {
  background-color: #262626;
  box-shadow: 0 0 16px #000000;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}