/*
This is a custom theme by Jeremy Noesen
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(2.5vh);
    }
    100% {
        opacity: 1
    }
}

body {
    background-color: #01040e;
    background-image: linear-gradient(240deg, #0e1736, #01040e);
    background-attachment: fixed;
    font-family: "Nunito", sans-serif;
    color: white;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    font-weight: lighter;
    animation-name: show;
    animation-duration: 0.2s;
}

.grid {
    display: grid;
    place-content: center;
    grid-gap: 16px;
    margin: 5vw auto;
    grid-auto-columns: 180px;
    grid-auto-rows: 180px;
}

.box {
    transition: transform 0.2s cubic-bezier(0.5, 0, 0.25, 2), background-color 0.2s, box-shadow 0.2s cubic-bezier(0.5, 0, 0.25, 2);
    padding: 32px;
    background-color: #565E8720;
    box-shadow: 0 12px 12px #000000BB;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    overflow: hidden;
}

.box:hover {
    background-color: #565E8730;
    transform: scale(1.01);
    box-shadow: 0 14px 14px #000000AA;
}

.button:hover {
    background-color: #4F58877C;
    transform: translateY(-6px);
    box-shadow: 0 16px 16px #000000AA;
}

::-moz-selection {
    color: #0e1736;
    background: white;
}

::selection {
    color: #0e1736;
    background: white;
}

@media screen and (max-width: 1080px) {
    .grid {
        grid-gap: 2vw;
        margin: 2.5vw auto;
        grid-auto-columns: 22vw;
        grid-auto-rows: 22vw;
    }

    body {
        line-height: 3.25vw;
        font-size: 2.25vw;
    }

    .box {
        padding: 4vw;
        box-shadow: 0 1.5vw 1.5vw #000000BB;
        border-radius: 4vw;
    }

    .box:hover {
        box-shadow: 0 1.75vw 1.75vw #000000AA;
    }

    .button:hover {
        transform: translateY(-0.75vw);
        box-shadow: 0 2vw 2vw #000000AA;
    }
}