.grid {
    grid-template-areas:
          'back about projects blog'
          'welcomebox welcomebox github github'
          'welcomebox welcomebox discord email';
}

.welcomebox {
    grid-area: welcomebox;
    text-align: left;
    justify-content: unset;
}

.about {
    grid-area: about;
}

.blog {
    grid-area: blog;
}

.projects {
    grid-area: projects;
}

.back {
    grid-area: back;
}

.logo {
    transition: 0.25s;
    width: 100%;
}

.back:hover .logo {
    filter: brightness(0%) invert();
}

.github {
    grid-area: github;
}

.discord {
    grid-area: discord;
}

.email {
    grid-area: email;
}

.github-svg {
    filter: brightness(0%) invert();
    width: 25%;
}

.discord-svg {
    filter: brightness(0%) invert();
    width: 60%;
}

.email-svg {
    filter: brightness(0%) invert();
    width: 60%;
}

.github:hover {
    background-color: #000000;
    transform: scale(1.03);
}

.discord:hover {
    background-color: #5865f2;
    transform: scale(1.03);
}

.email:hover {
    background-color: #EA4335;
    transform: scale(1.03);
}