.grid {
    grid-template-areas:
          'logobox logobox namebox namebox'
          'logobox logobox namebox namebox'
          'welcomebox welcomebox about blog'
          'welcomebox welcomebox projects socials';
}

.logobox {
    grid-area: logobox;
}

.namebox {
    grid-area: namebox;
}

.welcomebox {
    grid-area: welcomebox;
    text-align: left;
}

.about {
    grid-area: about;
}

.blog {
    grid-area: blog;
}

.projects {
    grid-area: projects;
}

.socials {
    grid-area: socials;
}

.logo {
    width: 85%;
}