.grid {
    grid-template-areas:
          'home about projects resume'
          'welcomebox welcomebox github github'
          'welcomebox welcomebox mastodon email';
}

.welcomebox {
    grid-area: welcomebox;
    text-align: left;
    justify-content: unset;
}

.about {
    grid-area: about;
}

.resume {
    grid-area: resume;
}

.projects {
    grid-area: projects;
}

.home {
    grid-area: home;
}

.logo {
    width: 85%;
}

.github {
    grid-area: github;
}

.mastodon {
    grid-area: mastodon;
}

.email {
    grid-area: email;
}

.github-svg {
    filter: brightness(0%) invert();
    width: 20%;
}

.mastodon-svg {
    filter: brightness(0%) invert();
    width: 50%;
}

.email-svg {
    filter: brightness(0%) invert();
    width: 50%;
}