.grid {
    display: grid;
    margin: var(--margin-size);
    width: var(--grid-width);
    grid-template-areas:
          'back about contact contact'
          'resume projects contact contact'
          'info info github github'
          'info info discord email';
    grid-gap: var(--gap-size);
}

.back {
    grid-area: back;
}

.resume {
    grid-area: resume;
}

.projects {
    grid-area: projects;
}

.about {
    grid-area: about;
}

.contact {
    grid-area: contact;
}

.github {
    grid-area: github;
}

.discord {
    grid-area: discord;
}

.email {
    grid-area: email;
}

.info {
    grid-area: info;
    text-align: left;
}

.github-svg {
    filter: invert() brightness(1000%);
    width: 60px;
}

.discord-svg {
    filter: brightness(1000%);
    width: 60px;
}

.email-svg {
    filter: invert() brightness(1000%);
    width: 60px;
}

.github:hover {
    background-color: #000000;
}

.discord:hover {
    background-color: #5865f2;
}

.email:hover {
    background-color: #EA4335;
}