.grid {
    display: grid;
    margin: 100px auto;
    width: 740px;
    grid-template-areas:
          'back about contact contact'
          'resume projects contact contact'
          'github discord twitter email';
    grid-gap: 16px;
}

.back {
    grid-area: back;
}

.resume {
    grid-area: resume;
}

.projects {
    grid-area: projects;
}

.about {
    grid-area: about;
}

.contact {
    grid-area: contact;
}

.github {
    grid-area: github;
}

.discord {
    grid-area: discord;
}

.twitter {
    grid-area: twitter;
}

.email {
    grid-area: email;
}

.github-svg {
    filter: invert() brightness(1000%);
}

.discord-svg {
    filter: brightness(1000%);
}

.twitter-svg {
    filter: invert() brightness(1000%);
}

.email-svg {
    filter: invert() brightness(1000%);
}

.logo {
    filter: brightness(0%) invert();
}