.grid {
    grid-template-areas:
          'home about projects resume'
          'portrait portrait intro intro'
          'portrait portrait intro intro'
          'bio bio bio bio'
          'bio bio bio bio';
}

.home {
    grid-area: home;
}

.resume {
    grid-area: resume;
}

.projects {
    grid-area: projects;
}

.about {
    grid-area: about;
}

.portrait {
    grid-area: portrait;
    background-image: url(resources/Portrait.jpg);
    background-size: cover;
}

.intro {
    grid-area: intro;
    text-align: left;
    justify-content: unset;
}

.bio {
    grid-area: bio;
    text-align: left;
    justify-content: unset;
}

.logo {
    filter: brightness(0%) invert();
    width: 85%;
}