.grid {
    grid-template-areas:
          'back about projects blog'
          'portrait portrait intro intro'
          'portrait portrait intro intro'
          'bio1 bio1 bio2 bio2'
          'bio1 bio1 bio2 bio2'
          'resume resume resume resume';
}

.back {
    grid-area: back;
}

.blog {
    grid-area: blog;
}

.projects {
    grid-area: projects;
}

.about {
    grid-area: about;
}

.portrait {
    grid-area: portrait;
    background-image: url(resources/Portrait_small.jpg);
    background-size: cover;
}

.intro {
    grid-area: intro;
    text-align: left;
    justify-content: unset;
}

.bio1 {
    grid-area: bio1;
    text-align: left;
    justify-content: unset;
}

.bio2 {
    grid-area: bio2;
    text-align: left;
    justify-content: unset;
}

.logo {
    filter: brightness(0%) invert();
    width: 85%;
}

.resume {
    grid-area: resume;
}