.grid {
    display: grid;
    margin: 100px auto;
    width: 740px;
    grid-template-areas:
          'back resume about about'
          'projects contact about about'
          'portrait portrait intro intro'
          'portrait portrait intro intro';
    grid-gap: 16px;
}

.back {
    grid-area: back;
}

.resume {
    grid-area: resume;
}

.projects {
    grid-area: projects;
}

.contact {
    grid-area: contact;
}

.about {
    grid-area: about;
}

.portrait {
    grid-area: portrait;
}

.intro {
    grid-area: intro;
}