.grid {
    display: grid;
    margin: var(--margin-size);
    width: var(--grid-width);
    grid-template-areas:
          'back about resume resume'
          'projects contact resume resume'
          'pdf pdf pdf pdf'
          'pdf pdf pdf pdf';
    grid-gap: var(--gap-size);
}

.back {
    grid-area: back;
}

.about {
    grid-area: about;
}

.projects {
    grid-area: projects;
}

.contact {
    grid-area: contact;
}

.resume {
    grid-area: resume;
}

.pdf {
    grid-area: pdf;
}