.grid {
    display: grid;
    margin: var(--margin-size);
    width: var(--grid-width);
    grid-template-areas:
          'back about resume resume'
          'projects contact resume resume';
    grid-gap: var(--gap-size);
}

.back {
    grid-area: back;
}

.about {
    grid-area: about;
}

.projects {
    grid-area: projects;
}

.contact {
    grid-area: contact;
}

.resume {
    grid-area: resume;
}

.logo {
    filter: brightness(0%) invert();
    width: 85%;
}