.grid {
    margin-bottom: 0;
    grid-template-areas:
          'back about projects blog';
}

.back {
    grid-area: back;
}

.about {
    grid-area: about;
}

.projects {
    grid-area: projects;
}

.blog {
    grid-area: blog;
}

.logo {
    filter: brightness(0%) invert();
    width: 85%;
}

.post {
    text-align: left;
    justify-content: unset;
    align-items: unset;
}

.post:hover {
    transform: scale(1.01);
}

.posts {
    display: grid;
    width: 768px;
    place-content: center;
    margin: 16px auto 100px;
    grid-gap: 16px;
}

.img {
    border-radius: 32px;
    transition: transform 0.25s, box-shadow 0.25s;
    box-shadow: 0 12px 12px #000000BB;
}

.img:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 12px #00000066;
}

.post a {
    color: white;
}

@media screen and (max-width: 1080px) {
    .posts {
        width: 94vw;
        margin: 2vw auto;
        grid-gap: 2vw;
    }

    .img {
        border-radius: 4vw;
        transition: transform 0.25s, box-shadow 0.25s;
        box-shadow: 0 1.5vw 1.5vw #000000BB;
    }

    .img:hover {
        box-shadow: 0 1.5vw 1.5vw #00000066;
    }
}