.grid {
    margin-bottom: var(--gap-size);
    grid-template-areas:
          'back about blog blog'
          'projects socials blog blog';
}

.back {
    grid-area: back;
}

.about {
    grid-area: about;
}

.projects {
    grid-area: projects;
}

.socials {
    grid-area: socials;
}

.blog {
    grid-area: blog;
}

.logo {
    filter: brightness(0%) invert();
    width: 85%;
}

.post {
    text-align: left;
    justify-content: unset;
    align-items: unset;
    height: max-content;
}

hr {
    border-color: var(--box-hover-color);
}

.posts {
    display: grid;
    grid-gap: var(--gap-size);
    width: var(--grid-width);
    margin: 0 auto;
}