@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*
This is a custom theme by Jeremy Noesen
*/

:root {
  /* theme colors, only need to change here */
  --background-color: #070c1d;
  --box-color: rgba(200, 200, 255, 0.08);
  --box-hover-color: rgba(200, 200, 255, 0.12);
  --button-hover-color: #0046ff;
  --shadow-color: #000000;
  --text-color: #FFFFFF;
  --animation-speed: 0.25s;
  --box-hover-zoom: 1.01;
  --button-hover-zoom: 1.05;

  /* dynamic sizes, change here and in theme.js */
  --margin-size: 100px auto;
  --grid-width: 736px;
  --wide-box-size: 672px;
  --large-box-size: 296px;
  --small-box-size: 108px;
  --border-radius: 24px;
  --padding: 32px;
  --gap-size: 16px;
  --shadow-size: 16px;
  --font-size: 16px;
  --line-height: 24px;
}

@keyframes show {
  0% {opacity: 0.5; filter: blur(4px)}
  100% {opacity: 1}
}

body {
  background-color: var(--background-color);
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
  text-align: center;
  line-height: var(--line-height);
  font-size: var(--font-size);
  animation-name: show;
  animation-duration: var(--animation-speed);
}

/* outer div, grid container, must specify 'grid-template-areas' per page with grid areas */

.grid {
  display: grid;
  margin: var(--margin-size);
  width: var(--grid-width);
  grid-gap: var(--gap-size);
  place-content: center;
}

/* inner divs, grid elements, must specify 'grid-area' to fill it grid above */

.large-grid-item {
  transition: var(--animation-speed);
  padding: var(--padding);
  background-color: var(--box-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  color: inherit;
  text-decoration: none;
  width: var(--large-box-size);
  height: var(--large-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.large-grid-item:hover {
  background-color: var(--box-hover-color);
  transform: scale(var(--box-hover-zoom));
}

.small-grid-item {
  transition: var(--animation-speed);
  padding: var(--padding);
  background-color: var(--box-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  color: inherit;
  text-decoration: none;
  width: var(--small-box-size);
  height: var(--small-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.small-grid-item:hover {
  background-color: var(--button-hover-color);
  transform: scale(var(--button-hover-zoom));
}

.large-wide-grid-item {
  transition: var(--animation-speed);
  padding: var(--padding);
  background-color: var(--box-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  color: inherit;
  text-decoration: none;
  width: var(--wide-box-size);
  height: var(--large-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.large-wide-grid-item:hover {
  background-color: var(--box-hover-color);
  transform: scale(var(--box-hover-zoom));
}

.small-wide-grid-item {
  transition: var(--animation-speed);
  padding: var(--padding);
  background-color: var(--box-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  color: inherit;
  text-decoration: none;
  width: var(--large-box-size);
  height: var(--small-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.small-wide-grid-item:hover {
  background-color: var(--button-hover-color);
  transform: scale(var(--button-hover-zoom));
}

.small-double-wide-grid-item {
  transition: var(--animation-speed);
  padding: var(--padding);
  background-color: var(--box-color);
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
  color: inherit;
  text-decoration: none;
  width: var(--wide-box-size);
  height: var(--small-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.small-double-wide-grid-item:hover {
  background-color: var(--box-hover-color);
  transform: scale(var(--box-hover-zoom));
}