.grid {
    grid-template-areas:
          'back about projects blog'
          'notfound notfound notfound notfound'
          'notfound notfound notfound notfound';
}

.notfound {
    grid-area: notfound;
    transition: background-position 0.25s, background-color 0.25s, background-image 0.25s, transform 0.25s cubic-bezier(0.5, 0, 0.25, 2), box-shadow 0.25s cubic-bezier(0.5, 0, 0.25, 2);
}

.back {
    grid-area: back;
}

.blog {
    grid-area: blog;
}

.projects {
    grid-area: projects;
}

.about {
    grid-area: about;
}

.logo {
    filter: brightness(0%) invert();
    width: 85%;
}