.grid {
    grid-template-areas:
          'home about projects resume'
          'notfound notfound notfound notfound'
          'notfound notfound notfound notfound';
}

.notfound {
    grid-area: notfound;
    background-size: cover;
    transition: background-position 0.2s, background-color 0.2s, background-image 0.2s, transform 0.2s cubic-bezier(0.5, 0, 0.25, 2), box-shadow 0.2s cubic-bezier(0.5, 0, 0.25, 2), filter 0.2s, translate 0.2s;
}

.home {
    grid-area: home;
}

.resume {
    grid-area: resume;
}

.projects {
    grid-area: projects;
}

.about {
    grid-area: about;
}

.logo {
    filter: brightness(0%) invert();
    width: 85%;
}